{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: auto;
    }
    .removed-word {
        background-color: lightcoral;
    }
    .added-word {
        background-color: lightgreen;
    }
</style>

<div class="container">
    <h1>Title: {{ question.title }}</h1>
    <h3>current text:</h3>
    <p>{{ question.current_text }}</p>
    <h3>diffs to old versions:</h3>
    {% for text_diff in previous_text_version_diffs %}
        <div>
            {% for word in text_diff%}
                {% if word.0 == '-' %}
                    <span class="removed-word">{{ word }}</span>
                {% elif word.0 == '+' %}
                    <span class="added-word">{{ word }}</span>
                {% else %}
                    <span>{{ word }}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}